<!doctype html>

<main>
<head>

	<h1> ReallyYou Identity Verification
    </h1>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="all">
	
	<script type="text/javascript">
            var sendID = "{{ sendID }}"
        </script>
	<script src="{{ url_for('static', filename='capture.js') }}">
	<p> Hi there! Somebody has asked you to verify your identity on Ferns!
        Please follow these steps to confirm your identity with your new
        friend!
    </p>
	<p> Below, you'll see two numbers between 0 and 5.
	{{rightInt}}                 {{leftInt}}
    </p>
    
	</script>
</head>
<body>

<div class="contentarea">



  <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Take photo</button> 
  </div>
  <canvas id="canvas">
  </canvas>
  <div class="output">
    <img id="photo" alt="The screen capture will appear in this box."> 
<p> Using your right hand, hold up the same number of fingers as the first
        number you see. For instance, if the number is two, hold up two fingers.
        If the number is zero, hold up your fist.
    </p>
    
    <p> Using your left hand, hold up the same number of fingers as the second
        number you see. If you are unable to hold up your fingers, please
        hold up a written or digital version of the number you see.
    </p>
    
    <p> Take a picture of yourself holding up your fingers either with the
        webcam of your computer or an uploaded picture. This picture will be
        sent to your friend, who will easily verify your identity!
    </p>
</body>
    
    <p id="timer"></p>
    
    
    
    
</main>